$ssl-yellow: rgb(212, 165, 48);
$ssl-red: rgb(212, 76, 48);
$ssl-light-blue: rgb(107, 186, 218);
$ssl-blue: rgb(34, 106, 133);

$nav-background: rgba(0, 0, 0, 1);
$nav-text-color: rgba(255, 255, 255,1);

$background: rgb(20, 20, 20);
$text-color: rgb(255, 255, 255);
