@import "./../styles/fonts";
@import "./../styles/colors";

.ssl--focus-container {
  background-image: url(./../assets/images/backgrounds/desktop_focus.jpg);
}

.ssl--focuses {
  background-position: center;
  background-size: cover;
}

.ssl--focus {
  color: $text-color;
  text-align: center;
  padding: 2em 1em;

  p {
    font-style: italic;
    font-size: 14pt;
    font-weight: 200;
  }

  h3 {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}
