@import "./../styles/media";
@import "./../styles/fonts";

$background: rgba(0,0,0,1);

.ssl--navigation {
  background: transparent;
  transition: background-color 500ms ease-in-out;

  .ssl--nav-logo {
    height: 80px;
    max-height: 80px;
    width: 164px;
  }

  .ssl--nav-item {
    color: #FFF;
    font-size: 14pt;
    font-weight: bold;
    line-height: 1.2em;
    position: relative;
    text-decoration: none;

    @include small {
      &:before {
        @include serif;
        content: 'Our';
        font-style: italic;
        font-weight: 200;
        left: 0;
        position: absolute;
        top: -0.9em;
      }
      &.ssl--nav-item-connect {
        &:before {
          content: 'Let\'s';
        }
      }
    }
  }

  @include mobile {
    .ssl--nav-logo {
      height: auto;
      max-height: 20px;
      width: auto;
    }

    .ssl--nav-group {
      background: transparentize($background, .1);

      > span {
        border-top: 0;
      }
    }
  }
}
.headroom-wrapper {
  background: $background;
}
.headroom {
  background: transparentize($background, .5);
  transition: background-color 500ms ease-in-out;

  &.headroom--unfixed {
    background: transparentize($background, .5);
  }

  &.headroom--pinned {
    background-color: transparentize($background, .3);
  }
}
