@import "./styles/fonts";
@import "./styles/colors";
@import "./styles/reset";

body {
  background-color: $background;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html * {
  font-size: 1em;
  @include sans-serif;
}
